* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* --------- header --------- */

body {
    background: #BDBB9E;
}

header {

    background: #615F42;
    width: 100%;
    max-width: 100%;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.head-block {
    width: 22%;
    height: 100%;


}

.h-img {
    width: 100%;
    height: 80%;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);



}

.h-img img {
    object-fit: cover;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.head-block p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    
}


/* ------------ main ------------- */
/* ------------- articles ----------- */

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: 600px;
}


.main-title {
    width: 100%;
    max-width: 100%;
    height: 40px;
    background: #86835B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-title p {
    font-size: 30px
}

section {
    flex: 50%;
    background: #BDBB9E;
}


article {
    width: 100%;
    height: 33%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

article p {
    width: 100%;
    padding-left: 10px;
}


article img {
    object-fit: cover;
    width: 25%;
    height: 100%;
}

/* ------------- aside ------------ */


aside {
    flex: 50%;
    background: #A4A179;
}


.aside-block {
    width: 100%;
    height: 49%;

}

.aside-block img {
    object-fit: cover;
    width: 100%;
    height: 280px;
    padding: 10px;
}

.aside-block p {
    padding-left: 10px;
}




